# UI
streamlit==1.39.0
 
# Java AST 파싱
javalang==0.13.0
 
# RAG / Vector Store (FAISS - 윈도우 친화적)
# faiss-cpu==1.9.0.post1
openai==1.54.0
tiktoken==0.8.0
# numpy==1.26.4
 
# API 시뮬레이션
fastapi==0.115.0
uvicorn==0.32.0
httpx==0.27.2
 
# 유틸
python-dotenv==1.0.1
pydantic==2.9.2
# pandas==2.2.3